* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  text-decoration-line: none;
}
body {
  background-color: #f9f9f9;
  font-family: 'Roboto', 'Noto', sans-serif;
}
.flex {
  display: flex;
}

.sect {
  position: relative;
  top: 40px;
}

main {
  width: 70%;
  min-width: 690px;
  padding: 25px;
}

main section {
  height: 600px;
  margin: 20px 0 20px 0;
}

.description {
  height: 170px;
  margin: 20px 0 0 0;
}
.image {
  width: 70px;
  margin: 2px 20px 5px 0;
  border-radius: 50%;
}
.author__info a {
  text-align: center;
  position: relative;
  left: 60%;
  top: 1px;
  width: 150px;
  height: 30px;
  background-color: red;
  border-radius: 4px;
  padding: 6px 0 0 0;
  color: white;
}

article {
  margin-top: 290px;
}

.comment {
  padding: 15px 0;
}
.comment span {
  margin: 10px;
}

.num_comment a {
  position: relative;
  border-radius: 5%;
  left: 30%;
}

aside {
  width: 30%;
  min-width: 150px;
  padding: 35px 10px 5px;
  height: 100%;
}
aside div {
  margin: 5px;
}
aside div h5 {
  color: black;
}
aside div p {
  color: grey;
}

.title-head {
  display: block;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4rem;
  padding-top: 15px;
}


.summary-show {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.seen {
  display: flex;
  /* line-height: 2.1rem; */
  font-weight: 400;
  color: #646064;
  margin-right: 300px;
}

p.view {
  margin-right: 5px;
}

p.date {
  margin-left: 5px;
}

.dislike {
  margin-left: 20px;
}

.bottom-line {
  border-bottom: 3px solid #909090;
}

.share, .save {
  color: #606060;
  margin-left: 100px;
  font-weight: bold;
}

.share i, .save i {
  padding-right: 10px;
}

.save {
  margin-left: 20px
}

.three-dots {
  margin-left: 30px;
  color: #606060;
}


.top {
  background-color: white;
  height: 60px;
  width: 100%;
  font-family: 'Roboto', 'Noto', sans-serif;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.humberg {
  width: 50px;
}

.logo {
  width: 150px;
}

.search {
  padding: 0 16px;
}

.humberg {
  color: #606060;
  cursor: pointer;
  margin: 0 16px 0 0;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  width: 129px;
  height: 24px;
  cursor: pointer;
}

.country {
  font-size: 10px;
  margin: 0 0 0 2px;
}

.search {
  margin: 0 40px;
  color: #606060;
}

.search form {
  width: 100%;
  max-width: 640px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.search input {
  height: 30px;
  border: none;
  border: 1px solid #cccccc;
  width: 575px;
  border-radius: 2px 0px 0px 2px;
  padding-left: 10px;
}

.search .search-icon {
  width: 24px;
  height: 24px;
  color: #606060;
  background-color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
}

.search button {
  width: 65px;
  border: 1px solid #cccccc;
  border-radius: 0 2px 2px 0;
  background: #f8f8f8;
}

.video-icon,
.apps-icon,
.menu-icon {
  width: 24px;
  color: #606060;
  margin: 0 15px;
}

.video-icon {
  margin-left: 50px;
}

.account-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #065fd4;
  border-radius: 2px;
  color: #065fd4;
  margin-left: 100px;
  padding: 6px 12px;
  cursor: pointer;
}

.account-icon p {
  padding-left: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

footer {
  background-color: white;
  height: 70px;
  text-align: center;
}
