.top div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.humberg {
    width: 50px;
}

.logo {
    width: 150px;
}

.search button {
    width: 60px;
}

.video-icon, .apps-icon, .menu-icon, .account-icon {
    width: 60px;
}